{% extends "base.html" %}
{% block content %}

<div class="card shadow">
    <div class="card-body">
        <h3>Upload Document</h3>

        <form method="POST" enctype="multipart/form-data">
            <div class="mb-3 mt-3">
                <input type="file" name="file" class="form-control" required>
            </div>
            <button class="btn btn-dark">Upload</button>
            <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Back</a>
        </form>

    </div>
</div>

{% endblock %}